{% load static %}
{% load examenes_filters %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la sección {{ seccion.nombre }} - {{ seccion.tema.nombre }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'examenes/navbar.html' %}
    <div class="container mt-4">
        <div class="centrado">
            <h2>{{ seccion.tema.nombre }} - {{ seccion.nombre }}</h2>
            {% for subseccion in subsecciones %}
                <div class="subseccion">
                    <h3>{{ subseccion.nombre }}</h3>
                    <p><a href="{% url 'realizar_test_subseccion' subseccion.id %}">Realizar Test</a></p>
                    <span class="badge badge-primary">{{ subseccion.preguntas.count }} preguntas</span>
                    <div class="teoria">
                        <h3>Teoría</h3>
                        <div class="contenido-teorico">{{ subseccion.contenido_teorico|markdown|safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>