{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadmap de la Asignatura</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'examenes/navbar.html' %}
    {% for tema in temas %}
    <div class="container mt-4">
        <div class="centrado">
            <div class="row">
                <div class="col-12 tema-title-container">
                    <h2 class="tema-title">{{ tema.nombre }}</h2>
                </div>
            </div>
            <div class="row">
                {% for seccion in tema.secciones.all %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                        <a href="{% url 'detalle_seccion' seccion.id %}" class="card-link">
                            <div class="card seccion-card">
                                <div class="card-icon">
                                    <img src="{% static seccion.icono_url %}" alt="{{ seccion.nombre }}">
                                </div>
                                <div class="card-content">
                                    <h3>{{ seccion.nombre }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>
