<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .centrado {
            border: 1px solid #ddd;
            padding: 20px; /* Aumenta el padding */
            margin-bottom: 20px;
            border-radius: 5px;
            max-width: 600px; /* Establece un ancho máximo */
            margin-left: auto;  /* Centra el bloque */
            margin-right: auto; /* Centra el bloque */
        }
    </style>
</head>
<body>
    {% include 'examenes/navbar.html' %}
    <div class="container mt-4">
        <div class="centrado">
            <h1 class="text-center">Bienvenido a los Tests Online</h1>
            <form action="{% url 'test' %}" method="get"> <!-- Asegúrate de que la URL sea correcta -->
                <div class="form-group">
                    <label for="asignatura">Asignatura</label>
                    <select class="form-control" id="asignatura" name="asignatura">
                        {% for asignatura in asignaturas %}
                            <option value="{{ asignatura.id }}">{{ asignatura.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="tema">Tema</label>
                    <select class="form-control" id="tema" name="tema">
                        {% for tema in temas %}
                            <option value="{{ tema.id }}">{{ tema.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="numero_preguntas">Número de Preguntas</label>
                    <select class="form-control" id="numero_preguntas" name="numero_preguntas">
                        {% for num in numero_preguntas_opciones %}
                            <option value="{{ num }}">{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Comenzar Test</button>
            </form>
        </div>
    </div>
</body>
</html>
